# This is a format job. Pre-commit has a first-party GitHub action, so we use
# that: https://github.com/pre-commit/action

name: Format

on:
  workflow_dispatch:
  pull_request:
  push:

jobs:
  pre-commit:
    name: pre-commit
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - uses: rhaschke/install-catkin_lint-action@main
      - run: clang-format --version
      - uses: pre-commit/action@v3.0.1
